#twitter
  %h1
    = @user.name
    %small#twitter-link
      = link_to "@#{@user.screen_name}", "http://www.twitter.com/#{@user.screen_name}"
  - unless @user.description.blank?
    %h6#twitterdescription
      = @user.description.strip
  .image
    = image_tag @user.profile_image_url.to_s.sub! "_normal", ""
  .content
    %p.header-text
      %span Twitter Statistics:
      With #{number_with_delimiter @user.statuses_count} tweets, #{number_with_delimiter @user.friends_count}
      following, #{number_with_delimiter @user.followers_count} followers, and #{number_with_delimiter @user.favorites_count}
      favorites, I'd say that you
      - if @sum < 200
        don't really use Twitter that much.
      - else
        love to use Twitter.
    .tweets
      %p.header-text
        %span Recent Tweets:
        You have recently tweeted
      - @tweets.each do |tweet|
        %p.api-info "#{tweet.text}",
    .friends
      %p.header-text
        %span Recent Followers:
        You have recently followed
      - @three.each do |friend|
        .friend
          %p.api-info
            %small#twitter-link
              = link_to "@#{friend.screen_name},", "http://www.twitter.com/#{friend.screen_name}"
          = image_tag friend.profile_image_url.to_s
      on Twitter.
    .suggestions
      %p.header-text
        %span Suggestions:
        Based on your interests on Twitter, you seem to enjoy
      - @suggestions.each do |suggest|
        %p.api-info=suggest.slug
    .trends
      %p.header-text
        %span Local Trends:
        In your geographic area, people are using these hashtags:
      - @trends.each do |trend|
        %p.api-info #{trend.name}
    .topics
      %p.header-text
        %span Tweets on Coffee:
        People on Twitter have this to say about coffee:
      - @topictweets.each do |tweet|
        %p.api-info "#{tweet}"
    .random
      %p.header-text
        %span Random Tweets:
        Just for fun, here are some of the most random tweets we can find on Twitter:
      - @random.each do |tweet|
        %p.api-info "#{tweet}"
