- @title = "MonsterAPI | Home"
.intro-text
  %h1 Social Media - In One Place
  %p View all of your information from your social media accounts in one place. Click any of the buttons to the left to get started.
  %hr
  %p
    Have questions, or want to help work on this site?
    =link_to "Fork this site", "http://github.com/sameetandpotatoes/MonsterAPI", :class => "embedded-link"
    on GitHub.
  %hr
  %p
    Want to contact me? Visit
    =link_to "my site", "http://sameetsapra.com", :class => "embedded-link"
.buttons
  = link_to '<i class="fa fa-facebook fa-2x"></i> Sign in with Facebook'.html_safe, "/auth/facebook", class: "facebook button"
  = link_to '<i class="fa fa-twitter fa-2x"></i> Sign in with Twitter'.html_safe, "/auth/twitter", class: "twitter button"
  = link_to '<i class="fa fa-github fa-2x"></i> Sign in with Github'.html_safe, "#", class: "github button"
  = link_to '<i class="fa fa-linkedin fa-2x"></i> Sign in with LinkedIn'.html_safe, "#", class: "linkedin button"
  = link_to '<i class="fa fa-facebook fa-2x"></i><i class="fa fa-twitter fa-2x"></i><i class="fa fa-github fa-2x"></i><i class="fa fa-linkedin fa-2x"></i> Sign into All'.html_safe, "#", class: "all button"
